#inicial {
  .card-carousel {
    padding-top: 84px;
    position: relative;
    background-image: url(./imgs/bg_01.png);
    background-size: cover;
    background-position: center;
    background-color: black;
    min-height: 750px;
    height: 100vh;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      bottom: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 0;
      pointer-events: none;
    }

    .box {
      padding: 0 15px;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      h1 {
        font-family: "Futura Std";
        color: #fff;
        font-size: 4.357em;
        font-weight: 600;
        max-width: 790px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
      p {
        font-family: "Futura Std";
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
      }
      .btn-custo {
        margin: 0;
        bottom: 100px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #inicial {
    .card-carousel {
      min-height: 515px;
      height: auto;
      padding-bottom: 50px;
      display: flex;
      align-items: center;

      .box {
        padding: 0px 40px;
        z-index: 1;
        h1 {
          font-size: 1.75em;
        }
        .btn-custo {
          margin: 0;
          bottom: 0;
          position: relative;
          margin-top: 20px;
        }
      }
    }
  }
}
