@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/dist/assets/owl.carousel.css";

@import "./global/fonts.scss";

@import "./scss/pages/Home/inicial.scss";
@import "./scss/pages/Home/eventos.scss";
@import "./scss/pages/Home/video.scss";
@import "./scss/pages/Home/o-que-fazemos.scss";
@import "./scss/pages/Home/portfolio.scss";
@import "./scss/pages/Home/footer.scss";

@import "./scss/header.scss";

@import "./scss/component/button.scss";
@import "./scss/component/carousel.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura Std";
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
}

@media screen and (max-width: 1330px) {
  body {
    font-size: 14px;
  }
}
